* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

body {
  min-height: 100vh;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px auto;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  background-color: darkgray;
}

.header {
  background-color: lightblue;
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  margin: 0px;
}

.title {
  width: 100%;
  text-align: center;
}

.section {
  width: 50%;
  padding: 0px 30px;
}

@media (max-width: 800px) {
  .section {
    width: 100%;
  }
}

.list-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
  transition: 0.3s;
}

.item-menu {
  padding: 0px 10px;
  line-height: 40px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  transition: color 0.5s;
}

@media (max-width: 850px) {
  .item-menu {
    padding: 0px 5px;
    line-height: 20px;
    text-decoration: none;
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .item-menu {
    padding: 0px 3px;
    line-height: 20px;
    text-decoration: none;
    font-size: 8px;
  }
}

.item-menu:hover {
  color: gray;
}

.list-section {
  list-style: none;
  padding: 0px;
}

.section-title {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
}

.link {
  text-decoration: none;
  color: #303030;
  transition: color 0.7s;
}

.link:hover {
  color: white;
}

.span {
  font-weight: bold;
  font-size: 22px;
}

.year {
  padding: 0px 50px;
}

.profile-title {
  text-align: center;
  margin: 0px 20px 5px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  color: skyblue;
}

.profi {
  text-align: center;
  margin-top: 0px;
  font-size: 16px;
  color: white;
}

.photo-profile {
  margin: 25px 0px 10px 0px;
  justify-content: center;
}

.code {
  font-size: 19px;
}